

}
.backgroundboxes {
    display: grid;
}



.forms{
 margin-left: 600px;

}

    .title{
        text-align: center;
        Color:orange;
      font-family: Georgia, 'Times New Roman', Times, serif;
       width: 100vw;
       text-shadow:2px 2px black;
       font-size: 3vw
    }
    .welcolme{
        text-align: center;
        color: black;
        width:100vw;                               
        font-size: 2vw;
    }

   
    .submit1 {
       width: 100px;
    }
    .introbox{
        height:100px;
        width: 400px;
      background-color:lightslategrey;
       margin-left: 500px;
       

    }

    p{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }